
:root {
    --bg: #0f0e0c;
    --surface: #1a1814;
    --accent: #c8a96e;
    --accent-dim: #8a7248;
    --text: #f0ead8;
    --text-dim: #7a7060;
    --border: #2a2620;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    height: 5000px;
    background: var(--bg);
    color: var(--text);
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    overflow-x: hidden;
    outline: none;
    -webkit-tap-highlight-color: transperent;
}

.header {
    border-bottom: 1px solid var(--border);
    top: 0;
    background: var(--bg);
    z-index: 100;
}

.header-img {
    width: 100vw;
}

.categories {
    position: sticky;
    display: flex;
    justify-content: space-around;
    gap: 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.catigories::-webkit-scrollbar { width: 0; }

.cat-btn {
    background: none;
    border: none;
    border-bottom: 2px solid transperent;
    color: var(--text-dim);
    padding: 10px 20px;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
}

.cat-btn.active {
    color: var(--accent);
    border-bottom-color: var(--accent);
}