
:root {
    --font-color1: rgb(231, 119, 14);
    --font-color2: white;
    --background-color: rgb(12, 12, 12);
    --cart-panel-color: rgb(15, 15, 15);
    --border-color: rgb(49, 49, 49);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background-color);
    color: var(--font-color1);
    height: 10000px;
}

header {
    position: sticky;
    top: 0px;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-logo {
    font-size: 15px;
    color: var(--font-color2);
}

.header-logo span {
    display: block;
    font-size: 40px;
    text-align: center;
    color: var(--font-color1);
}

.header-categories {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    justify-content: space-around;
    scrollbar-width: none;
}

.header-categories::-webkit-scrollbar { display: none; }

.header-category {
    background: none;
    border: none;
    font-size: 15px;
    color: var(--font-color2);
}

.header-category.active {
    border-bottom: 1px solid var(--font-color1);
    color: var(--font-color1);
    transition: 0.3s;
}

main {

}

.button-cart {
    z-index: 100;
    font-size: 20px;
    width: 60vw;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: var(--font-color1);
}

.div-button-cart {
    width: 100%;
    position: fixed;
    bottom: 6vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart-panel {

    z-index: 200;
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    background-color: var(--cart-panel-color);
    transform: translateY(100%);
    transition: 0.3s;

}

.cart-panel.cart-open {
    transform: translateY(0);
}

.cart-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 20px;
}

.cart-top span {
    color: var(--font-color2);
    font-size: 30px;
    display: none;
}

.cart-content {
    display: flex;

}

.cart-content.empty {
    justify-content: center;
    align-content: center;
}

